<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="파이널판타지 14 공식 홈페이지 소식과 FFlogs 조회 등 디스코드 봇에서 실시간으로 조회해보세요!">
    <title>달달이봇</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/site.css">
    <link rel="stylesheet" href="./css/semantic.min.css">

    <style type="text/css">
        .hidden.menu {
            display: none;
        }

        .masthead.segment {
            min-height: 700px;
            padding: 1em 0em;
        }
        .masthead .logo.item img {
            margin-right: 1em;
        }
        .masthead .ui.menu .ui.button {
            margin-left: 0.5em;
        }
        .masthead h1.ui.header {
            margin-top: 3em;
            margin-bottom: 0em;
            font-size: 4em;
            font-weight: normal;
        }
        .masthead h2 {
            font-size: 1.7em;
            font-weight: normal;
        }

        .ui.vertical.stripe {
            padding: 8em 0em;
        }
        .ui.vertical.stripe h3 {
            font-size: 2em;
        }
        .ui.vertical.stripe .button + h3,
        .ui.vertical.stripe p + h3 {
            margin-top: 3em;
        }
        .ui.vertical.stripe .floated.image {
            clear: both;
        }
        .ui.vertical.stripe p {
            font-size: 1.33em;
        }
        .ui.vertical.stripe .horizontal.divider {
            margin: 3em 0em;
        }

        .quote.stripe.segment {
            padding: 0em;
        }
        .quote.stripe.segment .grid .column {
            padding-top: 5em;
            padding-bottom: 5em;
        }

        .footer.segment {
            padding: 5em 0em;
        }

        .secondary.pointing.menu .toc.item {
            display: none;
        }

        @media only screen and (max-width: 700px) {
            .ui.fixed.menu {
                display: none !important;
            }
            .secondary.pointing.menu .item,
            .secondary.pointing.menu .menu {
                display: none;
            }
            .secondary.pointing.menu .toc.item {
                display: block;
            }
            .masthead.segment {
                min-height: 350px;
            }
            .masthead h1.ui.header {
                font-size: 2em;
                margin-top: 1.5em;
            }
            .masthead h2 {
                margin-top: 0.5em;
                font-size: 1.5em;
            }
        }

        #header {
            margin-top:50px;
        }
    </style>
</head>
<body>
<div id="header" class="ui text container">
    <h1 class="ui header">달달이봇</h1>
    <h2>파이널판타지 14 공식 홈페이지 소식과 FFlogs 조회 등 디스코드 봇에서 실시간으로 조회해보세요!</h2>
    <form method='get' action='https://discord.com/api/oauth2/authorize'>
        <input type='hidden' name='response_type' value='code'>
        <input type='hidden' name='client_id' value='<%= client_id %>' />
        <input type='hidden' name='scope' value='bot webhook.incoming messages.read applications.commands' />
        <input type='hidden' name='state' value='' />
        <input type='hidden' name='redirect_uri' value='<%= redirect_uri %>' />

        <button class='ui huge primary button' type='submit'>봇 추가하기</button>
    </form>
</div>

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="sixteen wide column">
                <h3 class="ui header">소개</h3>
                <p>기존의 Lodestone 이라는 디스코드 봇이 글로벌 한정으로 로드스톤에서 소식을 가져오던 것을 개량하여 한국 공식 홈페이지에서도 소식을 가져올 수 있도록 만든 것이 이 디스코드 봇의 출발이었습니다.</p>
                <p>더욱 많은 여러 가지 기능들을 지원할 수 있도록 기능을 추가할 예정입니다.</p>
                <h3 class="ui header">사용 방법</h3>
                <p>1. 위에 있는 '봇 추가하기' 버튼을 누릅니다.</p>
                <p>2. 달달이봇을 추가할 서버를 선택합니다.</p>
                <p>3. 웹후크에서 달달이봇이 소식을 전해줄 채팅 채널을 골라주세요.</p>
                <h3 class="ui header">명령어 사용 방법</h3>
                <p>명령어 앞에 <b>;!</b> 를 붙여서 사용하세요. (ex. ;!fflogs)</p>
                <p>자세한 설명은 아래의 명령어를 입력해서 나오는 설명을 읽어주세요.</p>
            </div>
        </div>
    </div>
</div>

<div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
            <div class="column">
                <h3>fflogs</h3>
                <p>FFLogs 집계를 검색합니다.</p>
            </div>
            <div class="column">
                <h3>notify</h3>
                <p>소식의 출력을 설정합니다. (관리자만 가능)</p>
            </div>
        </div>
    </div>
</div>

<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="sixteen wide column">
                <h4 class="ui inverted header">달달이봇</h4>
                <p>&copy; 2020-2021 Karsei</p>
            </div>
        </div>
    </div>
</div>

<script src="./js/jquery.min.js"></script>
</body>
</html>