body {
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

header {
    padding-top: 180px;
    margin-bottom: 150px;
}
header .img-header {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

main {
    margin-bottom: 50px;
}
main img.img-detail {
    margin-bottom: 30px;
}

.cover-container {
    max-width: 42em;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    text-shadow: none;
}

.text-cmd {
    color: #0c63e4;
}